#!/bin/sh
# Bluesky in the shell
# A Bluesky CLI (Command Line Interface) implementation in shell script
# Author Bluesky:@bills-appworks.blue
# 
# Copyright (c) 2024 bills-appworks
# This software is released under the MIT License.
# http://opensource.org/licenses/mit-license.php
#
# Run Commands

# post default languages (e.g. 'en,ja')
# NOTE: if you installed using the installer install.sh, this setting may be configured at the end of this file.
#BSKYSHCLI_POST_DEFAULT_LANGUAGES=
# multiple post separator prefix
#BSKYSHCLI_POSTS_SEPARATOR_PREFIX=
# post embed via field in record (unofficial field indicating the posting client name): ON/OFF default:ON
#BSKYSHCLI_POST_VIA=
# debug mode
#BSKYSHCLI_DEBUG=ON
# library path
#BSKYSHCLI_LIB_PATH='/path/to/bsky-sh-cli/lib'
# timezone (value format same to TZ environment variable)
#BSKYSHCLI_TZ=
# profile
#BSKYSHCLI_PROFILE=
# url shortening length baseline
#BSKYSHCLI_URL_SHORT_BASELINE=26
# url shortening abbreviated string
#BSKYSHCLI_URL_SHORT_ABBREV='...'
# template for output id field in post
#BSKYSHCLI_VIEW_TEMPLATE_POST_OUTPUT_ID=' [uri:\($URI)] [cid:\($CID)] [repost via uri:\($REPOST_VIA_URI)] [repost via cid:\($REPOST_VIA_CID)]'
# template for output via field in post
#BSKYSHCLI_VIEW_TEMPLATE_POST_OUTPUT_VIA=' [via:\($VIA)]'
# template for output langs field in post
#BSKYSHCLI_VIEW_TEMPLATE_POST_OUTPUT_LANGS=' [langs:\($LANGS)]'
# template for meta field in post
#BSKYSHCLI_VIEW_TEMPLATE_POST_META='[ViewIndex:\($VIEW_INDEX)]<VIEW_TEMPLATE_POST_OUTPUT_LANGS_PLACEHOLDER><VIEW_TEMPLATE_POST_OUTPUT_ID_PLACEHOLDER><VIEW_TEMPLATE_POST_OUTPUT_VIA_PLACEHOLDER>'
# template for auxiliary field prefix (Reply to)
#BSKYSHCLI_VIEW_TEMPLATE_POST_AUX_REPLY_TO_PREFIX='[Reply to '
# template for auxiliary field postfix (Reply to)
#BSKYSHCLI_VIEW_TEMPLATE_POST_AUX_REPLY_TO_POSTFIX=']'
# template for auxiliary field prefix (Reposted by)
#BSKYSHCLI_VIEW_TEMPLATE_POST_AUX_REPOSTED_BY_PREFIX='[Reposted by '
# template for auxiliary field postfix (Reposted by)
#BSKYSHCLI_VIEW_TEMPLATE_POST_AUX_REPOSTED_BY_POSTFIX=']'
# template for auxiliary field self name
#BSKYSHCLI_VIEW_TEMPLATE_POST_AUX_SELF='you'
# template for head field in post
#BSKYSHCLI_VIEW_TEMPLATE_POST_HEAD='\($AUTHOR_DISPLAYNAME)  @\($AUTHOR_HANDLE)  \($INDEXED_AT)'
# template for body field in post
#BSKYSHCLI_VIEW_TEMPLATE_POST_BODY='\($TEXT)'
# template for tail field in post
#BSKYSHCLI_VIEW_TEMPLATE_POST_TAIL='Reply:\($REPLY_COUNT) Repost:\($REPOST_COUNT) Quote:\($QUOTE_COUNT) Like:\($LIKE_COUNT)'
# template for separator field in post
#BSKYSHCLI_VIEW_TEMPLATE_POST_SEPARATOR=''
# template for separator field in parent post
#BSKYSHCLI_VIEW_TEMPLATE_POST_SEPARATOR_PARENT='|'
# template for output id placeholder to post templates (meta/head/body/tail/separator)
#BSKYSHCLI_VIEW_TEMPLATE_POST_OUTPUT_ID_PLACEHOLDER='<VIEW_TEMPLATE_POST_OUTPUT_ID_PLACEHOLDER>'
# template for output via placeholder to post templates (meta/head/body/tail/separator)
#BSKYSHCLI_VIEW_TEMPLATE_POST_OUTPUT_VIA_PLACEHOLDER='<VIEW_TEMPLATE_POST_OUTPUT_VIA_PLACEHOLDER>'
# template for output langs placeholder to post templates (meta/head/body/tail/separator)
#BSKYSHCLI_VIEW_TEMPLATE_POST_OUTPUT_LANGS_PLACEHOLDER='<VIEW_TEMPLATE_POST_OUTPUT_LANGS_PLACEHOLDER>'
# template for quoted field prefix in post
#BSKYSHCLI_VIEW_TEMPLATE_QUOTE='| '
# template for detached message in quoted post
#BSKYSHCLI_VIEW_TEMPLATE_QUOTE_DETACHED='Removed by author'
# template for output id field in post feed generator
#BSKYSHCLI_VIEW_TEMPLATE_POST_FEED_GENERATOR_OUTPUT_ID='[uri:\($URI)] [cid:\($CID)] [did:\($DID)]'
# template for meta field in post feed generator
#BSKYSHCLI_VIEW_TEMPLATE_POST_FEED_GENERATOR_META='[custom feed (feed generator)] <VIEW_TEMPLATE_POST_OUTPUT_ID_PLACEHOLDER>'
# template for head field in post feed generator
#BSKYSHCLI_VIEW_TEMPLATE_POST_FEED_GENERATOR_HEAD='\($DISPLAYNAME)\n  Feed by @\($CREATOR_HANDLE)'
# template for tail field in post feed generator
#BSKYSHCLI_VIEW_TEMPLATE_POST_FEED_GENERATOR_TAIL='Liked by \($LIKECOUNT) users'
# template for meta field in post external
#BSKYSHCLI_VIEW_TEMPLATE_POST_EXTERNAL_META='[link card]'
# template for head field in post external
#BSKYSHCLI_VIEW_TEMPLATE_POST_EXTERNAL_HEAD='\($EXTERNAL_URI)\n\($EXTERNAL_TITLE)'
# template for body field in post external
#BSKYSHCLI_VIEW_TEMPLATE_POST_EXTERNAL_BODY='\($EXTERNAL_DESCRIPTION)'
# template for embedded image in post
#BSKYSHCLI_VIEW_TEMPLATE_IMAGE=' [image-\($IMAGE_INDEX)] \($ALT)  \($FULLSIZE)'
# template for output id field in post embedded video
#BSKYSHCLI_VIEW_TEMPLATE_POST_VIDEO_OUTPUT_ID='\n cid: \($CID)'
# template for embedded video in post
#BSKYSHCLI_VIEW_TEMPLATE_VIDEO=' [video]\n \($ALT)\n playlist: \($PLAYLIST)\n thumbnail: \($THUMBNAIL)<VIEW_TEMPLATE_POST_OUTPUT_ID_PLACEHOLDER>'
# template for link in post
#BSKYSHCLI_VIEW_TEMPLATE_LINK=' [link-\($LINK_INDEX)] \($URI)'
# template for tag in post
#BSKYSHCLI_VIEW_TEMPLATE_TAG=' [tag-\($TAG_INDEX)] \($TAG)'
# template for mention in post
#BSKYSHCLI_VIEW_TEMPLATE_MENTION=' [mention-\($MENTION_INDEX)] \($DID)'
# template for profile
#BSKYSHCLI_VIEW_TEMPLATE_PROFILE='[avatar] \($AVATAR)\n[banner] \($BANNER)\n\($DISPLAYNAME)\n@\($HANDLE)\n\($FOLLOWERSCOUNT) followers  \($FOLLOWSCOUNT) follows  \($POSTSCOUNT) posts\n\($DESCRIPTION)'
# template for profile (output id)
#BSKYSHCLI_VIEW_TEMPLATE_PROFILE_OUTPUT_ID='[avatar] \($AVATAR)\n[banner] \($BANNER)\n\($DISPLAYNAME)\n@\($HANDLE) (\($DID))\n\($FOLLOWERSCOUNT) followers  \($FOLLOWSCOUNT) follows  \($POSTSCOUNT) posts\n\($DESCRIPTION)'
# template for navigation common part of profile 
#BSKYSHCLI_VIEW_TEMPLATE_PROFILE_NAVI_COMMON='[posts]\n bsky author-feed --handle \($HANDLE) --filter posts-no-replies\n[replies]\n bsky author-feed --handle \($HANDLE) --filter posts-with-replies\n[media]\n bsky author-feed --handle \($HANDLE) --filter posts-with-media'
# template for navigation my account part of profile
#BSKYSHCLI_VIEW_TEMPLATE_PROFILE_NAVI_MYACCOUNT='[like]\n (not yet implemented)\n[feed]\n (not yet implemented)\n[list]\n (not yet implemented)'
# template for follows meta field in social follow
#BSKYSHCLI_VIEW_TEMPLATE_FOLLOW_FOLLOWS_META='[follows]'
# template for followers meta field in social follow
#BSKYSHCLI_VIEW_TEMPLATE_FOLLOW_FOLLOWERS_META='[followers]'
# template for known followers meta field in social follow
#BSKYSHCLI_VIEW_TEMPLATE_FOLLOW_KNOWN_FOLLOWERS_META='[known followers]'
# template for social follow (output id)
#BSKYSHCLI_VIEW_TEMPLATE_FOLLOW_OUTPUT_ID=' [did:\($DID)]'
# template for social follow
#BSKYSHCLI_VIEW_TEMPLATE_FOLLOW='avatar: \($AVATAR)\n\($DISPLAYNAME)\n@\($HANDLE) <VIEW_TEMPLATE_POST_OUTPUT_ID_PLACEHOLDER>\n\($DESCRIPTION)\ncreated at: \($CREATED_AT)'
# template for separator field in social follow
#BSKYSHCLI_VIEW_TEMPLATE_FOLLOW_SEPARATOR=''
# self hosting PDS domain
#BSKYSHCLI_SELFHOSTED_DOMAIN=
# linkcard OGP image upload resize base file size (KB).
#BSKYSHCLI_LINKCARD_RESIZE_MAX_FILESIZE=2000
# linkcard OPG image resize parameter (imagemagick convert command -resize)
#BSKYSHCLI_LINKCARD_RESIZE_CONVERT_PARAM='800x512'
# Video service domain
#BSKYSHCLI_VIDEO_SERVICE_DOMAIN='video.bsky.app'
# Video service DID
#BSKYSHCLI_VIDEO_SERVICE_DID='did:web:video.bsky.app'
# If ON is specified, notifications will be sent only to the original post's author. Repost authors will not be notified. Unless the --via-uri/--via-cid parameters are specified in the command.
#BSKYSHCLI_NOTIFY_ORIGIN_ONLY=ON
