#!/bin/sh
# Bluesky in the shell
# A Bluesky CLI (Command Line Interface) implementation in shell script
# Author Bluesky:@billsbs.bills-appworks.net
# 
# Copyright (c) 2024 bills-appworks
# This software is released under the MIT License.
# http://opensource.org/licenses/mit-license.php
#
# resource config

# debug mode
#BSKYSHCLI_DEBUG=ON
# library path
#BSKYSHCLI_LIB_PATH='/path/to/bsky-sh-cli/lib'
# timezone (value format same to TZ environment variable)
#BSKYSHCLI_TZ=
# profile
#BSKYSHCLI_PROFILE=
# template for output id field in post
#BSKYSHCLI_VIEW_TEMPLATE_POST_OUTPUT_ID='[uri:\($URI)] [cid:\($CID)]'
# template for meta field in post
#BSKYSHCLI_VIEW_TEMPLATE_POST_META='[ViewIndex:\($VIEW_INDEX)] VIEW_TEMPLATE_POST_OUTPUT_ID_PLACEHOLDER'
# template for head field in post
#BSKYSHCLI_VIEW_TEMPLATE_POST_HEAD='\($AUTHOR_DISPLAYNAME)  @\($AUTHOR_HANDLE)  \($CREATED_AT)'
# template for body field in post
#BSKYSHCLI_VIEW_TEMPLATE_POST_BODY='\($TEXT)'
# template for tail field in post
#BSKYSHCLI_VIEW_TEMPLATE_POST_TAIL='Reply:\($REPLY_COUNT) Repost:\($REPOST_COUNT) Like:\($LIKE_COUNT)'
# template for separator field in post
#BSKYSHCLI_VIEW_TEMPLATE_POST_SEPARATOR=''
# template for output id placeholder to post templates (meta/head/body/tail/separator)
#BSKYSHCLI_VIEW_TEMPLATE_POST_OUTPUT_ID_PLACEHOLDER='VIEW_TEMPLATE_POST_OUTPUT_ID_PLACEHOLDER'
# template for quoted field prefix in post
#BSKYSHCLI_VIEW_TEMPLATE_QUOTE='| '
# template for output id field in post feed generator
#BSKYSHCLI_VIEW_TEMPLATE_POST_FEED_GENERATOR_OUTPUT_ID='[uri:\($URI)] [cid:\($CID)] [did:\($DID)]'
# template for meta field in post feed generator
#BSKYSHCLI_VIEW_TEMPLATE_POST_FEED_GENERATOR_META='[custom feed (feed generator)] VIEW_TEMPLATE_POST_OUTPUT_ID_PLACEHOLDER'
# template for head field in post feed generator
#BSKYSHCLI_VIEW_TEMPLATE_POST_FEED_GENERATOR_HEAD='\($DISPLAYNAME)\n  Feed by @\($CREATOR_HANDLE)'
# template for tail field in post feed generator
#BSKYSHCLI_VIEW_TEMPLATE_POST_FEED_GENERATOR_TAIL='Liked by \($LIKECOUNT) users'
# template for meta field in post external
#BSKYSHCLI_VIEW_TEMPLATE_POST_EXTERNAL_META='[external link]'
# template for head field in post external
#BSKYSHCLI_VIEW_TEMPLATE_POST_EXTERNAL_HEAD='\($EXTERNAL_URI)\n\($EXTERNAL_TITLE)'
# template for body field in post external
#BSKYSHCLI_VIEW_TEMPLATE_POST_EXTERNAL_BODY='\($EXTERNAL_DESCRIPTION)'
# template for embedded image in post
#BSKYSHCLI_VIEW_TEMPLATE_IMAGE=' [\($IMAGE_INDEX)] \($ALT)  \($FULLSIZE)'
# sleep interval for following support commands (timeline, feed, etc.)
#BSKYSHCLI_SLEEP_INTERVAL='5s'
# template for profile
#BSKYSHCLI_VIEW_TEMPLATE_PROFILE='[avatar] \($AVATAR)\n[banner] \($BANNER)\n\($DISPLAYNAME)\n@\($HANDLE)\n\($FOLLOWERSCOUNT) followers  \($FOLLOWSCOUNT) follows  \($POSTSCOUNT) posts\n\($DESCRIPTION)'
# template for profile (output id)
#BSKYSHCLI_VIEW_TEMPLATE_PROFILE_OUTPUT_ID='[avatar] \($AVATAR)\n[banner] \($BANNER)\n\($DISPLAYNAME)\n@\($HANDLE) (\($DID))\n\($FOLLOWERSCOUNT) followers  \($FOLLOWSCOUNT) follows  \($POSTSCOUNT) posts\n\($DESCRIPTION)'
# template for navigation common part of profile 
#BSKYSHCLI_VIEW_TEMPLATE_PROFILE_NAVI_COMMON='[posts]\n bsky author-feed --handle \($HANDLE) --filter posts-no-replies\n[replies]\n bsky author-feed --handle \($HANDLE) --filter posts-with-replies\n[media]\n bsky author-feed --handle \($HANDLE) --filter posts-with-media'
# template for navigation my account part of profile
#BSKYSHCLI_VIEW_TEMPLATE_PROFILE_NAVI_MYACCOUNT='[like]\n (not yet implemented)\n[feed]\n (not yet implemented)\n[list]\n (not yet implemented)'
