#!/bin/sh
# Bluesky in the shell
# A Bluesky CLI (Command Line Interface) implementation in shell script
# Author Bluesky:@billsbs.bills-appworks.net
# 
# Copyright (c) 2024 bills-appworks
# This software is released under the MIT License.
# http://opensource.org/licenses/mit-license.php
#
# Run Commands

# post default languages (e.g. 'en,ja')
# NOTE: if you installed using the installer install.sh, this setting may be configured at the end of this file.
#BSKYSHCLI_POST_DEFAULT_LANGUAGES=
# multiple post separator prefix
#BSKYSHCLI_POSTS_SEPARATOR_PREFIX=
# post embed via field in record (unofficial field indicating the posting client name): ON/OFF default:ON
#BSKYSHCLI_POST_VIA=
# debug mode
#BSKYSHCLI_DEBUG=ON
# library path
#BSKYSHCLI_LIB_PATH='/path/to/bsky-sh-cli/lib'
# timezone (value format same to TZ environment variable)
#BSKYSHCLI_TZ=
# profile
#BSKYSHCLI_PROFILE=
# url shortening length baseline
#BSKYSHCLI_URL_SHORT_BASELINE=26
# url shortening abbreviated string
#BSKYSHCLI_URL_SHORT_ABBREV='...'
# template for output id field in post
#BSKYSHCLI_VIEW_TEMPLATE_POST_OUTPUT_ID=' [uri:\($URI)] [cid:\($CID)]'
# template for output via field in post
#BSKYSHCLI_VIEW_TEMPLATE_POST_OUTPUT_VIA=' [via:\($VIA)]'
# template for output langs field in post
#BSKYSHCLI_VIEW_TEMPLATE_POST_OUTPUT_LANGS=' [langs:\($LANGS)]'
# template for meta field in post
#BSKYSHCLI_VIEW_TEMPLATE_POST_META='[ViewIndex:\($VIEW_INDEX)]<VIEW_TEMPLATE_POST_OUTPUT_LANGS_PLACEHOLDER><VIEW_TEMPLATE_POST_OUTPUT_ID_PLACEHOLDER><VIEW_TEMPLATE_POST_OUTPUT_VIA_PLACEHOLDER>'
# template for head field in post
#BSKYSHCLI_VIEW_TEMPLATE_POST_HEAD='\($AUTHOR_DISPLAYNAME)  @\($AUTHOR_HANDLE)  \($INDEXED_AT)'
# template for body field in post
#BSKYSHCLI_VIEW_TEMPLATE_POST_BODY='\($TEXT)'
# template for tail field in post
#BSKYSHCLI_VIEW_TEMPLATE_POST_TAIL='Reply:\($REPLY_COUNT) Repost:\($REPOST_COUNT) Like:\($LIKE_COUNT)'
# template for separator field in post
#BSKYSHCLI_VIEW_TEMPLATE_POST_SEPARATOR=''
# template for separator field in parent post
#BSKYSHCLI_VIEW_TEMPLATE_POST_SEPARATOR_PARENT='|'
# template for output id placeholder to post templates (meta/head/body/tail/separator)
#BSKYSHCLI_VIEW_TEMPLATE_POST_OUTPUT_ID_PLACEHOLDER='<VIEW_TEMPLATE_POST_OUTPUT_ID_PLACEHOLDER>'
# template for output via placeholder to post templates (meta/head/body/tail/separator)
#BSKYSHCLI_VIEW_TEMPLATE_POST_OUTPUT_VIA_PLACEHOLDER='<VIEW_TEMPLATE_POST_OUTPUT_VIA_PLACEHOLDER>'
# template for output langs placeholder to post templates (meta/head/body/tail/separator)
#BSKYSHCLI_VIEW_TEMPLATE_POST_OUTPUT_LANGS_PLACEHOLDER='<VIEW_TEMPLATE_POST_OUTPUT_LANGS_PLACEHOLDER>'
# template for quoted field prefix in post
#BSKYSHCLI_VIEW_TEMPLATE_QUOTE='| '
# template for output id field in post feed generator
#BSKYSHCLI_VIEW_TEMPLATE_POST_FEED_GENERATOR_OUTPUT_ID='[uri:\($URI)] [cid:\($CID)] [did:\($DID)]'
# template for meta field in post feed generator
#BSKYSHCLI_VIEW_TEMPLATE_POST_FEED_GENERATOR_META='[custom feed (feed generator)] VIEW_TEMPLATE_POST_OUTPUT_ID_PLACEHOLDER'
# template for head field in post feed generator
#BSKYSHCLI_VIEW_TEMPLATE_POST_FEED_GENERATOR_HEAD='\($DISPLAYNAME)\n  Feed by @\($CREATOR_HANDLE)'
# template for tail field in post feed generator
#BSKYSHCLI_VIEW_TEMPLATE_POST_FEED_GENERATOR_TAIL='Liked by \($LIKECOUNT) users'
# template for meta field in post external
#BSKYSHCLI_VIEW_TEMPLATE_POST_EXTERNAL_META='[link card]'
# template for head field in post external
#BSKYSHCLI_VIEW_TEMPLATE_POST_EXTERNAL_HEAD='\($EXTERNAL_URI)\n\($EXTERNAL_TITLE)'
# template for body field in post external
#BSKYSHCLI_VIEW_TEMPLATE_POST_EXTERNAL_BODY='\($EXTERNAL_DESCRIPTION)'
# template for embedded image in post
#BSKYSHCLI_VIEW_TEMPLATE_IMAGE=' [image-\($IMAGE_INDEX)] \($ALT)  \($FULLSIZE)'
# template for link in post
#BSKYSHCLI_VIEW_TEMPLATE_LINK=' [link-\($LINK_INDEX)] \($URI)'
# template for tag in post
#BSKYSHCLI_VIEW_TEMPLATE_TAG=' [tag-\($TAG_INDEX)] \($TAG)'
# template for mention in post
#BSKYSHCLI_VIEW_TEMPLATE_MENTION=' [mention-\($MENTION_INDEX)] \($DID)'
# template for profile
#BSKYSHCLI_VIEW_TEMPLATE_PROFILE='[avatar] \($AVATAR)\n[banner] \($BANNER)\n\($DISPLAYNAME)\n@\($HANDLE)\n\($FOLLOWERSCOUNT) followers  \($FOLLOWSCOUNT) follows  \($POSTSCOUNT) posts\n\($DESCRIPTION)'
# template for profile (output id)
#BSKYSHCLI_VIEW_TEMPLATE_PROFILE_OUTPUT_ID='[avatar] \($AVATAR)\n[banner] \($BANNER)\n\($DISPLAYNAME)\n@\($HANDLE) (\($DID))\n\($FOLLOWERSCOUNT) followers  \($FOLLOWSCOUNT) follows  \($POSTSCOUNT) posts\n\($DESCRIPTION)'
# template for navigation common part of profile 
#BSKYSHCLI_VIEW_TEMPLATE_PROFILE_NAVI_COMMON='[posts]\n bsky author-feed --handle \($HANDLE) --filter posts-no-replies\n[replies]\n bsky author-feed --handle \($HANDLE) --filter posts-with-replies\n[media]\n bsky author-feed --handle \($HANDLE) --filter posts-with-media'
# template for navigation my account part of profile
#BSKYSHCLI_VIEW_TEMPLATE_PROFILE_NAVI_MYACCOUNT='[like]\n (not yet implemented)\n[feed]\n (not yet implemented)\n[list]\n (not yet implemented)'
